:root {
  --theme_color: black;
  font-size: 2vh;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

body {
  font-family: "Poppins", sans-serif;
}

.message {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  max-width: 45rem;
}

.message_text {
  padding-left: 1rem;
  margin-left: 1rem;
  color: var(--theme_color);
  border-left: 0.2rem solid var(--theme_color);
}

@media (max-width: 45rem) {
  .message {
    flex-flow: column nowrap;
  }
}
