#wc-devtools-spotlight-element {
    border: 2px solid #ddff00;
    position: absolute;
    display: flex;
    z-index: 9999;

    background: #ddff0080;
    pointer-events: none;
    border-radius: 4px;

    width: var(--width);
    height: var(--height);
    top: var(--y);
    left: var(--x);
}
