#wc-devtools-spotlight-element {
    border: 2px solid hsla(68, 100%, 50%, 1);
    position: absolute;
    display: flex;
    z-index: 9999;

    background: hsla(68, 100%, 50%, 0.5);
    pointer-events: none;
    border-radius: 4px;

    width: var(--width);
    height: var(--height);
    top: var(--y);
    left: var(--x);
}
