{{ content | safe }}

<div class="download-options">
    <div class="download-section">
        <a href="https://chrome.google.com/webstore/detail/web-component-devtools/gdniinfdlmmmjpnhgnkmfpffipenjljo" class="download-button">
            <img src="/_merged_assets/chrome.png" />
            <span>Download for Chrome</span>
        </a>
        <img class="badge" src="https://img.shields.io/chrome-web-store/users/gdniinfdlmmmjpnhgnkmfpffipenjljo" />
        <img class="badge" src="https://img.shields.io/chrome-web-store/stars/gdniinfdlmmmjpnhgnkmfpffipenjljo" />
    </div>
    <div class="download-section">
        <a href="https://addons.mozilla.org/en-US/firefox/addon/web-component-devtools/" class="download-button">
            <img src="/_merged_assets/firefox.png" />
            <span>Download for Firefox</span>
        </a>
        <img class="badge" src="https://img.shields.io/amo/users/web-component-devtools" />
        <img class="badge" src="https://img.shields.io/amo/stars/web-component-devtools" />
    </div>
</div>
