{% extends 'layout-default.njk' %}

{% block main %}
  <div id="content-wrapper">
    <div class="content-area">
      {% block content %}
        {% include 'partials/_layoutSidebar/content.njk' %}
      {% endblock content %}
    </div>
  </div>
{% endblock main %}
